.abouttext{
    color: white;
    font-size: 90px;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
    margin-top: 50px;
}
.transforming{
    font-size: 30px;
    font-family: 'Roboto-Medium', sans-serif;
    color:#68BB1D; 
    padding-top: 30px;
}
.wtextbox{
    height: 300px;
    /* background-color: antiquewhite; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.wtext1{
      width: 560px;
      /* background-color: aqua; */
      border-right: 3px solid #68BB1D;
}
.wtext2{
    width: 580px;
    /* background-color: red; */
    margin-left: 60px;

}
.wholine{
    font-size: 35px;
    color: white;
    font-family: 'Roboto-Medium', sans-serif;
}
.whominitext{
    width: 450px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    margin-top: 20px;
}
.weare{
    font-size: 45px;
    color: white;
    font-family: 'Roboto-Medium', sans-serif;
    padding-top: 100px;
}
.radiousbox{
    height: 400px;
    /* background-color: aqua; */
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}
.radiousbox1{
    width: 400px;
    background-color: #1D1D1D;
    border-radius: 30px;
}
.radiousbox2{
    width: 400px;
    background-color: #1D1D1D;
    margin-left: 100px;
    border-radius: 30px;
}
.boxtitle{
    width: 230px;
    font-size:30px ;
    font-family: 'Roboto-Medium', sans-serif;
   padding: 40px;
   color: #68BB1D;
   line-height: 45px;
}
.webelieve{
    color: white;
  width: 360px;
    line-height: 40px;
    margin-left: 20px;
}
.satisfied{
    font-size: 30px;
    color: #68BB1D;
    width: 350px;
}