* {
    font-family: 'Palatino';
}
.abouttext {
    color: white;
    font-size: 90px;
    font-weight: 700;
    margin-top: 50px;
    padding-left: 20px;
}
.transforming {
    font-size: 30px;
    color:#68BB1D;
    padding: 20px;
}
.wtextbox {
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}
.wtext1 {
    border-right: 3px solid #68BB1D;
}
.wtext2 {
    margin-left: 60px;
}
.wholine {
    font-size: 35px;
    color: white;
}
.whominitext {
    font-size: 14px;
    color: white;
    line-height: 30px;
    margin-top: 20px;
    margin-right: 20px;
    text-align: justify;
}
.weare {
    font-size: 45px;
    color: white;
    padding:0px 20px ;
}
.radiousbox {
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
}
.radiousbox1 {
    width: 49%;
    background-color: #1D1D1D;
    border-radius: 30px;
    padding-bottom: 30px;
}
.radiousbox2 {
    width: 49%;
    background-color: #1D1D1D;
    margin-left: auto;
    border-radius: 30px;
}
.boxtitle {
    font-size: 30px;
    margin: 10px;
    color: #68BB1D;
    line-height: 45px;
}
.webelieve {
    color: white;
    line-height: 35px;
    padding: 10px;
    text-align: justify;
}
.satesfied {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    text-align: justify;
}
.radiousbox3 {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    color:#68BB1D;
    font-size: 32px;
}
.radiousbox4 {
    margin: 10px  auto 0px  auto;
    color: white;
    padding-left: 12px;
    line-height: 40px;
}
.the {
    font-size: 40px;
    text-align: center;
    color: white;
}
.threebox {
    margin: 50px;
}

.threebg {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.three {
    margin-left: 30px;
    border-radius: 20px;
    border: 2px solid #68BB1D;
    color: white;
    justify-content: center;
    padding:20px;
    margin: 10px;
}
.threetext {
    font-size: 20px;
    text-align: center;
  padding: 10px;
}
.threetextmindful {
    font-size: 20px;
    padding: 10px;
}
.threebest {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #68BB1D;
    color: white;  
}
.threebest:hover {
    background-color: #68BB1D;
    color: black;
}
.wanttextbox {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.wanttext {
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.aboutbtn {
    height: 50px;
    width: 200px;
    border-radius: 40px;
    border: 1px solid #68BB1D;
    color: #68BB1D;
    margin: 20px 20px 0px auto;
}
.btntext{
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 50px;
}
.aboutbtn:hover {
    cursor: pointer;
    background-color: #68BB1D;
    color: black;
}
.arrow {
    height: 10px;
    width: 30px;
    margin: 0px 0px -3px 10px;
}
.wealways {
    color: white;
    line-height: 35px;
   margin: 0px auto 30px auto;
   padding-left: 20px;
   text-align: justify;
}
@media screen and (max-width: 900px) {
    .wtextbox {
        flex-direction: column;
    }
    .wtext1{
        width: 100%;
        border: none;
        padding: 30px 5px;
    }
    .wtext2{
        width: 100%;
        margin-left: 0px;
    }
    .radiousbox {
        flex-direction: column;
    }
    .radiousbox1{
        width: 100%;
    }
    .radiousbox2{
        width: 100%;
        margin-top: 16px;
    }
    .threetext {
        font-size: 16px;
    }
    .threetextmindful {
        font-size: 16px;
    }
    .three {
        padding:10px;
    }
   .wanttextbox{
        flex-direction: column;
    }
    .aboutbtn{
        margin-left: 30px;
    }
   .wanttext{
        font-size: 35px;
    }
}