*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;

}

.subtitle{
    font-size: 20px;
    color: white;
}
.btnbox{
    height: auto;
    /* background-color: aqua; */
    display: flex;
    margin: 50px 10px;
}
.bgbtn{
  width: 90%;
  display: flex;
  align-self: center;
  margin: auto;
 
}
.btn{
    /* background-color: red; */
    width: auto;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 16px;
    color: white;
    text-align: center;
    padding: 10px;
}
.btn:hover{
    cursor: pointer;
    background-color: #68BB1D;
    border:#68BB1D; 
}
.btntitle{
    font-size: 18px;
    /* margin-top: -10px; */
}
.btntext{
    font-size: 13px;
}
.download{
    text-align: center;
    font-size: 25px;
    color: white;
    display: grid;
}
.apps{
    height: 60px;
    width: 400px;
    /* margin-left: 33%; */
    margin: auto;
}
.apps:hover{
    cursor: pointer;
}
.box{
    height: auto;
    background-color: #1D1D1D;
    margin: 30px;
    border-radius: 30px ;
    padding: 20px ;
}
.box:hover{
    cursor: pointer;
}
.boxtitle{
    font-size: 35px;
    color: #68BB1D;
    font-weight: 600;
}
.lorem{
    font-size: 16px;
    color: white;
   line-height: 35px;
  
 
}
.the{
    color: white;
    font-size: 45px;
}
.text{
    height: auto;
    color: white;
    font-size: 21px;
    line-height: 40px;
}
.loremtitle{
    font-size: 38px;
    color: #68BB1D;
    font-weight: 600;
}
.box2{
    height: auto;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* margin-bottom: 50px; */
}
.photo{
    width: 50%;
    margin: 12px;
}

.phototext{
    width: 50%;
    margin: 12px;
}
.photolorem{
    font-size: 17px;
    color: white;
    line-height: 35px;
}
.apppick{
    width: 90%;
}
.box3{
    /* height: 500px; */
    display: flex;
    flex-direction: row;
}
.details{
    width: 45%;
    padding: 14px;
    background-color: #1D1D1D;
    margin-left: 10px;
    border-radius: 40px;

}
.detailstitle{
    font-size: 35px;
    color: #68BB1D;
    font-weight: 600;
}
.detailslorem{
    font-size: 16px;
    color: white;
    line-height: 35px;
    justify-content: center;
}
.contactbtn{
    height: auto;
    width: 160px;
    border-radius: 30px;
    padding-left: 25px;
    line-height:40px ;
   margin: 40px auto;
     color: #68BB1D;
    border: 1px solid #68BB1D;
    display: flex;
  
   
}
.arrow{
    width: 27px;
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
}
.contactbtn:hover{
    background-color: #68BB1D;
    color: white;
    cursor: pointer;
}