*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;

}
.title:hover{
    cursor: pointer;
}
.subtitle{
    font-size: 20px;
    color: white;
}
.btnbox{
    height: 120px;
    /* background-color: aqua; */
    display: flex;
    margin-top: 50px;
}
.btn{
    /* background-color: red; */
    width: 170px;
    height: 60px;
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 16px;
    color: white;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    background-color: #68BB1D;
    border:#68BB1D; 
}
.btntitle{
    font-size: 18px;
    margin-top: -10px;
}
.btntext{
    font-size: 13px;
    margin-top: -23px;
}
.download{
    text-align: center;
    font-size: 25px;
    color: white;
}
.apps{
    height: 60px;
    width: 400px;
    margin-left: 33%;
}
.apps:hover{
    cursor: pointer;
}
.box{
    height: 330px;
    background-color: #1D1D1D;
    margin: 30px;
    border-radius: 30px ;
    padding: 20px ;
}
.box:hover{
    cursor: pointer;
}
.boxtitle{
    font-size: 35px;
    color: #68BB1D;
    font-weight: 600;
}
.lorem{
    font-size: 16px;
    color: white;
   line-height: 35px;
  
 
}
.the{
    color: white;
    font-size: 45px;
}
.text{
    height: 150px;
    color: white;
    font-size: 21px;
    line-height: 40px;
}
.loremtitle{
    font-size: 38px;
    color: #68BB1D;
    font-weight: 600;
}
.box2{
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.photo{
    width: 500px;
}
.photo:hover{
    cursor: pointer;
}
.phototext{
    width: 600px;
}
.photolorem{
    font-size: 17px;
    color: white;
    line-height: 35px;
}
.apppick{
    margin-left: -10px;
}
.box3{
    height: 500px;
    display: flex;
    flex-direction: row;
}
.details{
    width: 40%;
    background-color: #1D1D1D;
    margin-left: 50px;
    border-radius: 40px;

}
.details:hover{
    cursor: pointer;
}
.detailstitle{
    font-size: 35px;
    color: #68BB1D;
    font-weight: 600;
}
.detailslorem{
    font-size: 16px;
    color: white;
    line-height: 35px;
}
.contactbtn{
    height: 40px;
    width: 140px;
    border-radius: 30px;
    padding-left: 25px;
    line-height:40px ;
    margin: 50px 0px 50px 43%;
     color: #68BB1D;
    border: 1px solid #68BB1D;
    display: flex;
  
   
}
.arrow{
    width: 30px;
    height: 15px;
    margin-top: 3px;
}
.contactbtn:hover{
    background-color: #68BB1D;
    color: white;
    cursor: pointer;
}