*{
    font-family: 'Palatino';
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 40px;
    padding-left: 20px;
}
.title2{
    color: white;
    font-size: 60px;
  padding: 0px  20px;
}
.subtitle{
    font-size: 20px;
    color: white;
    margin-right: 150px;
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: justify;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 10px;
  text-align: justify;
    height: auto;
}
.box1{
    height: auto;
    background-color: #1D1D1D;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 25px;
    color: white;
    border: 2px solid white;
    padding: 30px;
}
.boxtwo{
    width: 45%;
    height: auto;
    background-color: #1D1D1D;
    margin-left: 10px;
    margin-top: auto;
    border-radius: 25px;
    color: white;
    border: 2px solid white;
    padding: 30px;
}
.confidence{
    font-size: 35px;
    width: auto;
    font-weight: 600;
}
.minitext{
    font-size: 17px;
    line-height: 35px;
}
.boxgreen{
    margin: 20px;
    background-color: #1D1D1D;
    border-radius: 25px;
    color: white;
    border: 2px solid #68BB1D;
    padding: 20px;
}
.boxgreen:hover{
    cursor: pointer;
}
.boxtitle{
    font-size: 33px;
    height: auto;
    font-weight: 600;
}
.roles{
    height: 60px;
    font-size: 35px;
    color: white;
    text-align: center;
}
.due{
    text-align: center;
    color: white;
    font-size: 17px;
}
.appbox{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.appbox1{
    margin: 12px;
    border: 1px solid #68BB1D;
    border-radius: 20px;
    padding: 14px;
}
.mobile{
    font-size: 35px;
    width: 200px;
    color: #68BB1D;
    font-weight: 600;
}
.looking{
    color: white;
    line-height: 37px;
    padding-right: 20px;
    font-size: 16px;
}
.appbtn{
    height: 40px;
    width: 230px;
    margin-left: 20px;
    border-radius: 30px;
    padding-left: 15px;
    line-height:40px ;
    margin-top: 40px;
     color: #68BB1D;
    border: 1px solid #68BB1D;
    display: flex;
}
.arrow{
    width: 30px;
    height: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

@media screen and (max-width: 900px) {
    .title{
        font-size: 50px;
    }
    .title2{
        font-size: 50px;
    }
    .subtitle{
        width: 90%;
    }
    .confidence{
        font-size: 25px;
    }
    .mobile{
        font-size: 27px;
        text-align: start;
        width: auto;
    }
    .appbtn{
        width: auto;
    }
    .gridContainer{
        grid-template-columns: none;
    }
}
