* {
    font-family: 'Palatino';
}

.title {
    color: white;
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.title2 {
    color: white;
    font-size: 60px;
    margin-top: -20px;
    padding: 0px 20px;
}

.subtitle {
    font-size: 20px;
    color: #68BB1D;
    padding: 20px;
}

.box {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: row;
    margin: 0px 10px 10px 10px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px;
}

.box1 {
    padding: 16px 0px 16px 10px;
}

.box2 {
    height: 240px;
    margin-left: auto;
    margin: 50px 10px 10px 10px;
    justify-content: center;
    padding: 12px;
}

.got {
    /* width: auto; */
    font-size: 35px;
    font-weight: 600;
    line-height: 60px;
    color: white;
}

.letus {
    font-size: 26px;
    color: white;
}

.namebox {
    
}

.name {
    font-size: 20px;
    color: #68BB1D;
}

.address {
    font-size: 26px;
    color: #68BB1D;
}

.post {
    font-size: 20px;
    color: white;
}
.photo {
    height: 100px;
    width: 100px;
}
.contectbox {
    background-color: #1D1D1D;
    display: flex;
    flex-direction: row;
    margin: 40px 10px 30px 10px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 12px;
    height: auto;
    border: 1px solid #68BB1D;
    margin-bottom: 30px;
}
.threebox {
    width: 50%;
    margin-top: 10px;
}
.contact {
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.icon {
    height: 75px;
    width: 60px;
}
.mydetails {
    height: auto;
    width: 70%;
    margin-left: 15%;
    margin-right: 60px;
    margin-top: 50px;
    margin-bottom: 60px;
    background-color: black;
    border-radius: 10px;
    padding-bottom: 30px;
}

.my {
    font-weight: 800px;
    font-size: 16px;
    color: white;
    padding: 16px 0px 12px 0px;
}

.input {
    height: 40px;
    width: 96%;   
    color: black;
    font-weight: 800px;
    background-color: white;
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 16px;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
}

.inputbackbox {
    width: 48%;
    height: 210px;
    margin-left: 12px;
    /* background-color: red; */
}

.inputarea {
    height: 80px;
    width: 94%;
    margin: 0px 30px 0px 23px;
    color: black;
    font-weight: 800px;
    background-color: white;
    outline: none;
    border: none;
    font-size: 16px;
    padding:6px 0px 0px 8px;
    border-radius: 4px;
    /* background-color: antiquewhite; */
   
}

.mymsg {
    font-size: 16px;
    font-weight: 800px;
    color: white;
    padding: 6px 30px 12px 25px;
    text-align: left;
}
.mytext {
    width: 100%;
height: 120px;
/* background-color: pink; */
}

.btn {
    height: 50px;
    width: 180px;
    background-color: black;
    padding: 6px;
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
   
    margin: auto;
    margin-bottom: 30px;

}

.btn:hover {
    background-color: #68BB1D;
    cursor: pointer;
}

.boxtitle {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 22px;
    padding-top: 20px;
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 50px;
    }

    .title2 {
        font-size: 50px;
    }

    .box {
        flex-direction: column;
    }

    .threebox {
        width: 100%;
        align-items: center;
    }

    .got {
        font-size: 28px;
        line-height: 35px;
    }

    .contectbox {
        flex-direction: column;
        
    }

    .flex {
        flex-direction: column;
    }

    .input {
        width: 100%;
    }

    .inputbackbox {
        width: 90%;
        height: auto;
        margin-left: 0px;
    }

    .inputarea {
        width: 86%;
    }

    .mydetails {
        margin-left: 10%;
        width: 80%;
    }
}