
@font-face {
    font-family: RobotoBold;
    src: url(../Assets/Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../Assets/Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../Assets/Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../Assets/Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../Assets/Fonts/Roboto-Thin.ttf);
}

*{
    font-family: 'Palatino';
    /* padding: 16px; */
}

.footer {
    background-color: #1D1D1D;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Palatino';
    padding-bottom: 20px;
    /* margin-top: 30px; */
}

.footertitle {
    /* background-color: pink; */
    /* width: 280px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.footertitle:hover {
    cursor: pointer;
}

.footertext {
    font-size: 25px;
    margin-bottom: 20px;
}

.footerminitext {
    font-size: 14px;
    margin-top: 8px;
}

.footerminitext:hover {
    color: #68BB1D;
    /* font-size: 16px; */
}

.footerline {
    background-color: #1D1D1D;
    border-top: 1px solid #68BB1D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.copyright {
    font-size: 16px;
    color: #68BB1D;
    padding-top: 16px;
    font-family: 'Palatino';
}

.logo {
    height: 40px;
    width: 40px;
    align-items: center;
}

.logo_Name {
    display: flex;
    flex-direction: row;
}

.ftily {
    font-size: 30px;
    color: #68BB1D;
    font-family: 'Palatino';
    margin-left: 6px;
}

@media screen and (max-width: 900px) {
    .footer {
        /* display: flex; */
        flex-direction: column;
        /* justify-content: space-between; */
    }
}



