
@font-face {
    font-family: RobotoBold;
    src: url(../Assets/Fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoLight;
    src: url(../Assets/Fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(../Assets/Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoRegular;
    src: url(../Assets/Fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(../Assets/Fonts/Roboto-Thin.ttf);
}

.footer {
    height: 400px;
    background-color: #1D1D1D;
    margin-top: 130px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: RobotoMedium;
}

.footertitle {
    /* background-color: pink; */
    /* width: 280px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-family: RobotoMedium;
}

.footertitle:hover {
    cursor: pointer;
}

.footertext {
    font-size: 25px;
    font-family: RobotoMedium;
    margin-bottom: 20px;
}

.footerminitext {
    font-size: 14px;
    margin-top: 8px;
    font-family: RobotoMedium;
}

.footerminitext:hover {
    color: #68BB1D;
    font-size: 16px;
}

.footerline {
    background-color: #1D1D1D;
    border-top: 1px solid #68BB1D;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.copyright {
    font-size: 16px;
    color: #68BB1D;
    padding-top: 15px;
    font-family: RobotoRegular;
}

.ftily {
    font-size: 16px;
    color: #68BB1D;
    padding-top: 15px;
    padding-left: 6px;
    font-family: RobotoMedium;
}

@media only screen and (max-width: 768px) {
    bg {
        background-color: #68BB1D;
    }

}



