*{
    font-family: 'Palatino';
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 40px;
    padding: 0px  20px;
}
.subtitle{
    font-size: 20px;
    color:#68BB1D;
    padding: 0px  20px;
}
.box{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
}
.box1{
    height: auto;
    width: 25%;
    margin: auto;
     font-size: 140px;
     font-weight: bold;
     color:#68BB1D ;
}
.box2{
    width: 70%;
    text-align: justify;
}
.analysis{
    font-size: 35px;
    color: white;
}
.after{
    font-size: 16px;
    color: white;
    line-height: 35px;
}
.buttenbox{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    margin: 10px;
    font-size: 14px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}
.btn:hover{
    background-color: #68BB1D;
    border: none;
    cursor: pointer;
}
.btntext2{
    margin-top: -20px;
}
.journey{
    text-align: center;
    border-radius: 50px;
    border: 1px solid #68BB1D;
    color: #68BB1D;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 16px;
}
@media screen and (max-width: 900px) {
    .title{
        font-size: 50px;
    }
    .box{
        flex-direction: column;
        margin-top: 0px;
    }
    .box1{
      width: auto;  
      font-size: 70px;
    }
    .box2{
        text-align: justify;
        width: auto;
    }
    .analysis{
        text-align: start;
        padding-left: 20px;
    }
    .after{
        padding: 20px;
    }
    .btn{
        padding: 8px;
    }
}