*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;

}
.title:hover{
    cursor: pointer;
}
.subtitle{
    font-size: 20px;
    color: white;
  
}
.box{
    display: flex;
    flex-direction: row;
    height: 300px;
    /* background-color: aqua; */
    margin-top: 50px;
}
.box1{
    width: 300px;
    /* background-color: red;  */
     /* text-align: center; */
     font-size: 140px;
     font-weight: bold;
     color:#68BB1D ;
     padding-left: 40px;
}
.box1:hover{
    cursor: pointer;
}

.box2{
    width: 800px;
    /* background-color: bisque; */

}
.analysis{
    font-size: 35px;
    color: white;
}
.after{
    font-size: 16px;
    color: white;
    line-height: 35px;
}
.box2:hover{
    cursor: pointer;
}
.buttenbox{
    /* background-color: red; */
    height: 60px;
    display: flex;
    flex-direction: row;
}
.btn{
    /* background-color: aqua; */
    height: 40px;
    width: 140px;
    margin-left: 100px;
    font-size: 14px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}
.btn:hover{
    background-color: #68BB1D;
    /* color: black; */
    border: none;
    cursor: pointer;
}
.btntext{
    width: 100px;
    margin-top: -20px;
}
.btntext2{
    width: 130px;
    margin-top: -20px;
}
.journey{
    /* background-color: antiquewhite; */
    height: 50px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #68BB1D;
    color: #68BB1D;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    

}