*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;

}

.subtitle{
    font-size: 20px;
    color: white;
  
}
.box{
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 20px;
    justify-content: center;
}
.box1{
    width: 30%;
    margin: auto;
     font-size: 140px;
     font-weight: bold;
     color:#68BB1D ;
     padding: 30px;
}


.box2{
    width: 70%;
}
.analysis{
    font-size: 35px;
    color: white;
}
.after{
    font-size: 16px;
    color: white;
    line-height: 35px;
}
.buttenbox{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    ;
}
.btn{
    margin: 10px;
    font-size: 14px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 12px;
  color: white;
}
.btn:hover{
    background-color: #68BB1D;
    border: none;
    cursor: pointer;
}

.btntext2{
    margin-top: -20px;
}
.journey{
    text-align: center;
    border-radius: 50px;
    border: 1px solid #68BB1D;
    color: #68BB1D;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 16px;
    

}