*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.mobiletext {
    color: white;
    font-size: 90px;
    font-weight: 700;
    margin-top: 50px;
}
.title{
    font-size: 30px;
    color:#68BB1D;
    padding-top: 30px;
    font-weight: 600;
}
.what{
    font-size: 22px;
    color: white;
    margin-top: 30px;
    padding-bottom: 20px;

}
.subtitle{
    width: 65%;
    font-size: 26px;
    color: white;
    font-weight: 500;

}
.trusted{
    font-size: 35px;
    color:#68BB1D;
    width: auto;
    line-height: 60px;
    margin-top: 40px;
}
.minitextbox {
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.textbox1 {
    width: auto;  
    border-radius: 30px;
}
.textbox2 {
    height: auto;
    width: auto;
    margin: auto;
    border-radius: 30px;
    padding: 10px;
}
.mobile {
    color: white;
    width: 85%;
    padding: 16px;
    line-height: 32px;
    
}
.ourtext{
    color: white;
    width: auto;
    line-height: 30px; 
}
.subtitle2{
    font-size: 35px;
    color:#68BB1D;
    font-weight: 600;
   margin: 30px 0px 0px 10px;
   
}
.textbox3 {   
     height: auto;
    width: 45%;
    background-color: #1D1D1D;
    border-radius: 30px;
    margin: 5px;
}
.boxtitle {
   
    width: auto;
    padding: 12px;
    font-size: 35px;
    margin-left: 20px;
    color: #68BB1D;
}

.textbox4 {
    width: 50%;
    background-color: #1D1D1D;
    border-radius: 30px;
}
.endtext{
    font-size: 35px;
    width: auto;
    color: white;
    font-weight: 600;
}
.wehave{
    color: white;
    font-size: 18px;
    line-height: 40px;
    margin: 6px;
}
.apptype{
    width: auto;
    color: #68BB1D;
    font-size: 20px;
    font-weight: 600;
}