*{
    font-family: 'Palatino';
    /* padding: 16px; */
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 100px;

}
.title:hover{
    cursor: pointer;
}
.wehave{
    font-size: 20px;
    color: white;
  
}
.buttenbox{
    /* height: 50px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 50px;
}
.butten{
    background-color:#1D1D1D  ;
    width:90px ;
    margin: auto ;
    border-radius: 12px;
    text-align: center;
    color: white;
    padding: 16px;
}
.butten:hover{
    background-color:#68BB1D ;
    cursor: pointer;
}
.appbox{
    /* height: 400px; */
    background-color:  #1D1D1D;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
   margin: 20px;
 
}
.apptext{
    width: 45%;
    /* background-color: aqua; */
    padding: 10px;
}
.appimg{
    margin: auto;
}
.app{
    color: white;
    font-size: 45px;
}

.lorem{
    color: white;
    font-size: 18px;
    line-height: 40px;
}
.appphoto{
    width: 100%;
    /* height: auto; */
}

.icon{
    /* background-color: aqua; */
    display: flex;
     flex-direction: row;
}
.appicon{
    /* height: 20px; */
    width: 23px;
    margin-left: 20px;
}
.appicon:hover{
    cursor: pointer;
}
.appbtn{
    display: flex;
    flex-direction: row;
    width: 170px;
    border-radius: 20px;
    border: 2px solid #68BB1D;
    text-align: center;
    align-items: center;
   color: #68BB1D;
   margin: 10px;
   padding: 10px;

}
.appbtn:hover{
    background-color: #68BB1D;
    color: black;
    cursor: pointer;
}
.arrow{
    width: 25px;
    margin-left: 6px;
    margin-top: 6px;
}
.footertop{
    height: 100px;
}