*{
    font-family: 'Palatino';
}
.title{
    color: white;
    font-size: 60px;
    margin-top: 40px;
    padding-left: 20px;
}
.wehave{
    font-size: 20px;
    color: white;
    padding: 0px 20px;
}
.buttenbox{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 20px;
}
.butten{
    background-color:#1D1D1D  ;
    width:90px ;
    margin: auto ;
    border-radius: 12px;
    text-align: center;
    color: white;
    padding: 16px;
}
.butten:hover{
    background-color:#68BB1D ;
    cursor: pointer;
}
.appbox{
    background-color:  #1D1D1D;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
   margin: 20px;
   padding: 10px;
}
.apptext{
    width: 45%;
    padding: 10px;
}
.appimg{
    margin: auto;
}
.app{
    color: white;
    font-size: 45px;
}
.lorem{
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-align: justify;
}
.appphoto{
    width: 100%;
}
.icon{
    display: flex;
     flex-direction: row;
}
.appicon{
    width: 23px;
    margin-left: 20px;
    display: flex;
}
.appbtn{
    display: flex;
    flex-direction: row;
    width: 170px;
    border-radius: 20px;
    border: 2px solid #68BB1D;
    text-align: center;
    align-items: center;
   color: #68BB1D;
   margin: 10px;
   padding: 10px;
}
.appbtn:hover{
    background-color: #68BB1D;
    color: black;
    cursor: pointer;
}
.arrow{
    width: 25px;
    margin-left: 6px;
    margin-top: 6px;
}


@media screen and (max-width: 900px) {
    .title{
        font-size: 50px;
    }
    .buttenbox{
        padding: 0px;
    }
    .appbox{
        flex-direction: column;
       align-items: center;
    }
    .app{
        text-align: center;
    }
    .apptext{
       width: 90%;
    }
}