* {
    font-family: 'Palatino';
}
.servicetext {
    color: white;
    font-size: 90px;
    font-weight: 700;
    margin-top: 80px;
    padding-left: 20px;
}
.webuild {
    font-size: 30px;
    color:#68BB1D;
    padding-left: 20px ;
}
.what {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.minititle {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 0px;
}
.servicetitlebox {
    margin: 20px;
    background-color: #1D1D1D;
    border-radius: 30px;
    padding-bottom: 8px;
}
.servicetitle {
    font-size: 40px;
    color: white;
    padding: 16px;
}
.detailsbox {
    display: flex;
    flex-direction: row;
}
.details {
    margin: auto;
}
.text {
    display: flex;
    flex-direction: row;
   margin: 20px;
}
.arrow {
    height: 25px;
    width: 28px;
    margin: 15px 5px 0px  0px;
}
.inter {
    padding-top: 15px;
    font-size: 16px;
    color: white; 
}

.aboutbtn {
    height: 50px;
    width: 200px;
    border-radius: 40px;
    border: 1px solid #68BB1D;
    color: #68BB1D;
    margin: 20px 20px 0px auto;
}
.aboutbtn:hover {
    cursor: pointer;
    background-color: #68BB1D;
    color: black;
}
.btntext{
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 50px;
    color: #68BB1D;
}
.btntext:hover{
    color: #1D1D1D;
}
.arrow2 {
    height: 10px;
    width: 30px;
    margin: 0px 0px -3px 10px;
}
.designicon {
    height: 80px;
    width: 62px;
    margin-left: 170px;
    margin-top: 20px;
}
.mobileicon {
    height: 80px;
    width: 50px;
    margin-left: 170px;
    margin-top: 20px;
}
.game {
    height: 60px;
    width: 60px;
    margin-left: 170px;
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .what{
        font-size: ;
    }
    .servicetitle{
        font-size: 30px;
        padding: 10px;
        text-align: center;
    }
    .detailsbox{
        flex-direction: column;
    }
    .arrow {
        height: 20px;
        width: 22px;
        margin: 2px 5px 0px  0px;
    }
    .text{
        margin: 5px;
    }

    .inter {
        padding-top: 4px;
        font-size: 14px;
    }
    .servicetitlebox {
        margin: 30px;
    }
    .mobileicon,.game,.designicon{
     display: none;
    }
    
}